/* GENERAL STYLES
=============================*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  background: #fff;
  color: #303030;
  font-size: 17px;
  font-family: "Source Serif Pro", serif;
  line-height: 1.7;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
  margin-bottom: 0.8em;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}

hr {
  background: #d6ccc2;
  border: none;
  margin: 20px 0;
  height: 0.5px;
}

.main-header .flex-container,
.main-content .main-container,
.main-footer .flex-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1160px;
}

.main-content section {
  margin-bottom: 40px;
}

/* HEADER
=============================*/

.main-header .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;
}

/* Logo */

.main-header .logo {
  color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  transition: all 0.15s linear;
}

.main-header .logo span {
  padding: 5px;
}

.main-header .logo svg {
  background: transparent;
  fill: #1c1c1c;
  margin: 0;
  padding: 5px;
  height: 55px;
  width: auto;
  transition: all 0.15s linear;
}

.main-header .logo:hover svg {
  background: #ddb892;
  fill: #fff;
}

/* Navigation */

.main-header .main-nav {
  margin-left: auto;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav li {
  margin: 10px;
}

.main-nav a {
  background: transparent;
  color: #1c1c1c;
  font-size: 17px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 15px;
  transition: all 0.15s linear;
}

.main-nav a:hover {
  background: #ddb892;
  color: #fff;
}

/* FOOTER
=============================*/

.main-footer .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-logo-header hr {
  width: 100%;
}

/* Logo */

.main-footer {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 40px;
}

.footer-logo {
  flex: 1 0 auto;
  margin: 10px 20px;
  text-align: center;
}

.footer-logo svg {
  fill: #d6ccc2;
  margin: 0;
  height: 55px;
}

/* Navigation */

.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav li {
  margin: 10px 5px;
}

.footer-nav a {
  color: #1c1c1c;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.15s linear;
}

.footer-nav a:hover {
  color: #d6ccc2;
}

a.copy {
  color: #d6ccc2;
  font-size: 14px;
  font-weight: 500;
}

/* HOME PAGE
=============================*/

.home-page .main-content {
  margin: 0 0 40px 0;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  display: inline-block;
  flex: 1 0 auto;
  margin: 0;
  padding: 0 20px;
  line-height: 1;
}

.section-header hr {
  width: 100%;
}

/* Hero Section */

.hero {
  background: #101417 url('../images/hero-img.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  padding: 60px 0px;
  max-width: 1920px;
  min-height: 350px;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.hero .subtitle {
  max-width: 60%;
}

.hero .quote {
  display: block;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.hero .author {
  font-size: 14px;
  font-style: italic;
}

/* Tip of the day */

.tip {
  border: 1px solid #b08968;
  position: relative;
}

.tip h2 {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -25px 0 0 -100px;
  position: absolute;
  top: 0;
  left: 50%;
  line-height: 1;
  width: 200px;
  height: 50px;
  z-index: 1;
}

.tip-content {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  text-align: center;
}

.tip h3 {
}

.tip p {
  font-size: 20px;
}

/* Recipe Cards */

.grid-view {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  list-style-type: none;
  gap: 3%;
  width: 100%;
}

.grid-view .card-container {
  flex: 1 1 30%;
  margin-bottom: 10px;
  height: 100%;
}

.card {
  background: #fff;
  transition: all 0.2s linear;
}

.card-image {
  position: relative;
  max-height: 450px;
  min-width: 160px;
  height: 100%;
  overflow: hidden;
  transition: all .15s linear;
}

.recipe-image {
  display: block;
  opacity: 1;
  position: relative;
  height: 100%;
  transition: inherit;
}

.card:hover .recipe-image {
  opacity: 0.7;
  transform: scale(1.1);
}

.card-view-btn {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: -30px 0 0 -60px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 60px;
  transition: inherit;
}

.card-view-btn:before {
  border: 2px solid #fff;
  content: "";
  position: absolute;
  width: 124px;
  height: 64px;
}

.card:hover .card-view-btn {
  opacity: 1;
}

.card-info {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  color: #b08968;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 600;
  margin: 5px 0;
  text-transform: uppercase;
}

.card-info span {
  display: flex;
  align-items: center;
}

.card-info img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.card-title {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
  transition: inherit;
}

.card:hover .card-title {
  color: #b08968;
}


/* RECIPE PAGE
=============================*/

.recipe-page .main-content {
  margin: 40px 0;
}

.recipe .flex-container {
  display: flex;
  gap: 40px;
}

.recipe .side-block {
  flex: 1 1 40%;
}

.recipe .main-block {
  flex: 1 1 60%;
}

/* Breadcrumbs */

.breadcrumbs {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

.breadcrumbs ul {
  display: flex;
}

.breadcrumbs li:not(:last-of-type) {
  margin-right: 10px;
}

.breadcrumbs li:not(:last-of-type):after {
  content: ">";
  color: #b08968;
}

.breadcrumbs a {
  font-weight: 500;
  margin-right: 10px;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span {
  font-weight: 400;
}

/* Recipe Header */

.recipe-header {
  margin-bottom: 20px;
}

/* Recipe Image */

.recipe-image {
  margin: 0 auto 20px auto;
  line-height: 0;
  position: relative;
  width: 100%;
  max-width: 500px;
}

.recipe-image img {
  position: relative;
  width: 100%;
}

.recipe-image a {
  background: #fff;
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.recipe-image a svg {
  fill: #1c1c1c;
  width: 24px;
  height: 24px;
  transition: all 0.15s linear;
}

.recipe-image a:hover svg {
  fill: #b08968;
}

/* Recipe Description */

.recipe-title h1 {
  margin: 0;
}

.recipe-title span {
  display: block;
  color: #b08968;
  font-size: 16px;
  margin: 5px 0 15px 0;
  text-transform: uppercase;
}

/* Recipe Tags */

.tags {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.tag {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 15px;
}

.tag.petrol {
  background-color: #264653;
}

.tag.teal {
  background-color: #2a9d8f;
}

.tag.gold {
  background-color: #e9c46a;
}

.tag.orange {
  background-color: #f4a261;
}

.tag.red {
  background-color: #e76f51;
}

.apostrophe {
  color: #b08968;
  font-size: 140%;
}

/* Quick Info */

.quick-info {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.quick-info li {
  margin-right: 15px;
}

.quick-info li span {
  color: #b08968;
  margin-right: 5px;
}

/* Nutrition */

.nutrition {
  display: flex;
  gap: 5px;
}

.nutrition li {
  background: #fff6ed;
  border: 1px solid #b08968;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.nutrition .title {
  font-size: 14px;
}

.nutrition .value {
  border-bottom: 1px solid #b08968;
}

/* Ingredients */

.ingredients li {
  margin-bottom: 10px;
  min-height: 30px;
}

/* Steps */

.steps {
  list-style: none;
  counter-reset: steps-counter;
}

.steps li {
  counter-increment: steps-counter;
  margin-bottom: 10px;
  padding-left: 42px;
  position: relative;
  min-height: 30px;
}

.steps li::before {
  content: counter(steps-counter) "";
  color: #ddb892;
  font-size: 22px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  width: 30px;
}

/* MEDIA QUERIES
=============================*/

@media only screen and (max-width: 760px) {

  /* Header */

  .main-header .flex-container {
    flex-direction: column;
  }

  .main-header .logo {
    flex-direction: column;
    font-size: 20px;
    margin-top: 20px;
  }

  .main-header .logo svg {
    height: 75px;
  }

  .main-header .logo span {
    padding: 0;
  }

  .main-header .main-nav {
    margin: 10px 0;
  }

  .main-nav ul {
    flex-wrap: wrap;
  }

  .main-nav li {
    margin: 10px 5px;
  }

  .main-nav a {
    font-size: 16px;
    padding: 5px 10px;
  }

  /* Home */
  
  .grid-view .card-container {
    flex: 1 1 47%;
  }

  .card {
    text-align: center;
  }

  .card-info {
    justify-content: center;
  }

  .breadcrumbs ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .breadcrumbs li:last-of-type {
    flex: 1 1 100%;
    text-align: center;
  }

  /* Recipe */

  .recipe .flex-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
  }

  .recipe .side-block {
    flex: 1 1 auto;
  }

  .recipe .main-block {
    flex: 1 1 auto;
  }

  .tags {
    justify-content: center;
    flex-wrap: wrap;
  }

  .quick-info {
    justify-content: center;
    font-size: 12px;
  }

  .nutrition {
    flex-wrap: wrap;
  }

  .nutrition li {
    flex: 1 0 20%;
    width: 80px;
  }

  .steps li {
    margin: 0 auto 10px auto;
    padding: 0;
    max-width: 500px;
  }

  .steps li::before {
    background: #fff;
    display: block;
    font-size: 26px;
    margin:0 0 10px -25px;
    position: relative;
    left: 50%;
    text-align: center;
    width: 50px;
    z-index: 2;
  }

  .steps li::after {
    background: #d6ccc2;
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 0.5px;
    z-index: 1;
  }
}
